.container{
    background-color: chartreuse ;
    }
    table{
        background-color: chartreuse;
        
        // &:hover{
        //     color: red;
        // }
    }
    .change{
        &:hover{background-color: chocolate;}
    }